.sabre-command {
    height: 1000vh;
    background-color: midnightblue;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

.dropdown-item { /* Target all dropdown items */
    text-align: center; /* Center the text within the item */
}
  